////////////////////////////////////////////////////
// TYPOGRAPHY /////////////////////////////////////////
////////////////////////////////////////////////////
$logo-font: 'Clicker Script', cursive;
$baseline: 28px;

////////////////////////////////////////////////////
// COLORS //////////////////////////////////////////
////////////////////////////////////////////////////
$color-primary: #75CBD9;
$color-action: #B6EC7F;
$color-earth: #998152;
$color-caution: #F58485;
$color-royal: #8D68C2;
$color-light: #fcfcfc;
$color-text: #666;